@use 'globals' as *;

.container {
    padding-inline: $layout-padding-container;
}



.card {
    padding: $layout-padding-content;
    background-color: map-get($map: $colors, $key: 'card-overlay');
    
    border-radius: 5px;
    box-shadow: $box-shadow;

    
}


// Buttons
.btn-primary {
    background-color: #111;
    color: #fff;
    border: 1px solid #111;
    border-radius: 5px;
    padding: $layout-padding-content;
    
    &:hover {
        background-color: #e4e4e4;
        color: #111;
        border: 1px solid #111;
        transition: all 0.1s ease-in-out;
        cursor: pointer;
    }
}
.btn-secondary {
    border: 0.5px solid #fff;
    padding: $layout-padding-content;
    border-radius: 3px;

    &:hover {
        background-color: #fff;
        color: #111;
        transition: all 0.1s ease-in-out;
        cursor: pointer;
    }
}

// Toggle Switch
.switch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;
    cursor: pointer;
    input {
        width: 0;
        height: 0;
    }
}

.slider {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 30px;
    &::before {
        position: absolute;
        content: "";
        top: 4.0px;
        left: 5px;
        width: 1.5rem;
        height: 1.5rem;
        background-color: #fff;
        transition: 0.4s;
        border-radius: 20px;
    }

    
}

input:checked + .slider {
    background-color: #111

}

input:focus + .slider::before {
    box-shadow: 0 0 1px #111;
}

input:checked + .slider::before {
    transform: translateX(2rem);
}